// TODO: Remove this once https://gitlab.com/gitlab-org/gitlab/-/issues/213324 is resolved
.audit-log-table .gl-table {
  th {
    font-weight: 600;
    line-height: 1rem;
  }

  th,
  td {
    @include gl-text-gray-700;
  }
}
